In [1]:
##############     NEW    TOIPC   ##################################

In [ ]:
print()

In [15]:
def guest_arrive():   ## defining 
    print("dust all the rooms and others")

In [17]:
guest_arrive()  ## calling function

dust all the rooms and others

In [27]:
def lets_play_games():
    print("not right now after sometime")

In [33]:
lets_play_games()

not right now after sometime

In [39]:
def greeter(name):
    print("Hello",name,end="!")

In [45]:
greeter("tejas")

Hello tejas!

In [53]:
name = input()
greeter(name)

 tejas.

Hello tejas.!

In [55]:
def intro_family(fat,mot,sib):
    print("father >>",fat)
    print("mother >>",mot)
    print("sibling >>",sib)

In [59]:
intro_family("sanjay","kiran","boom")

father >> sanjay
mother >> kiran
sibling >> boom

In [71]:
intro_family(mot="kiran",fat="sanjay",sib="boom")

father >> sanjay
mother >> kiran
sibling >> boom

In [75]:
intro_family("sanjay","kiran",sib="boom")

father >> sanjay
mother >> kiran
sibling >> boom

In [85]:
intro_family(fat="sanjay","kiran","boom")

SyntaxError: positional argument follows keyword argument (251989158.py, line 1)

In [87]:
intro_family("sanjay",mot="kiran",sib="boom")

father >> sanjay
mother >> kiran
sibling >> boom

In [101]:
def intro_family(fat="NA",mot="NA",sib="NA"):
    '''
    this function will take 3 arguments as input
    about family
    and assign them to print their names with the relationships
    '''
    print("father >>",fat)
    print("mother >>",mot)
    print("sibling >>",sib)

In [99]:
intro_family("sanjay","kiran")

father >> sanjay
mother >> kiran
sibling >> NA

In [105]:
help(intro_family)

Help on function intro_family in module __main__:

intro_family(fat='NA', mot='NA', sib='NA')
    this function will take 3 arguments as input
    about family
    and assign them to print their names with the relationships

In [109]:
intro_family?

Signature: intro_family(fat='NA', mot='NA', sib='NA')
Docstring:
this function will take 3 arguments as input
about family
and assign them to print their names with the relationships
File:      c:\users\tejas\appdata\local\temp\ipykernel_6744\1312736976.py
Type:      function

In [113]:
###   two argue sum of output both argu


##def intro_family(fat="NA",mot="NA",sib="NA"):

def a int(input(5)):
def b int(input(10)):
print(a+b)

SyntaxError: expected '(' (2379250423.py, line 6)

In [116]:
def sum(a,b):
    print(a+b)

In [146]:
sum(5,6)

11

In [130]:
type(sum(5,6))

11

NoneType

In [140]:
"scl"

'scl'

In [148]:
print("scl")

scl

In [152]:
def sum(a,b):
    return(a+b)

In [158]:
sum(5,6)+100

111

In [166]:
def sum(a,b):
    print("this will run")
    return(a+b)
    print("this will not run")

In [170]:
sum(5,6)

this will run

11

In [172]:
def max_number(a,b):
    if a>b:
        return a
    else:
        return b

In [176]:
max_number(8,6)

8

In [180]:
max_number(8,12)

12

In [182]:
##  Q1 
'''
create a date print function - 
should take 4 arguments -> day, month, year and style 

styling logic - 
style -> 0-> d/m/y
style -> 1 -> m/d/y
style -> any other value -> invalid style
    default style is 0.
'''

'\ncreate a date print function - \nshould take 4 arguments -> day, month, year and style \n\nstyling logic - \nstyle -> 0-> d/m/y\nstyle -> 1 -> m/d/y\nstyle -> any other value -> invalid style\n    default style is 0.\n'

In [188]:
def date(d,m,y,style=0):
    if style == 0:
        print(d,m,y,sep ="/")
    elif style == 1:
        print(m,d,y,sep ="/")
    else:
        print("invalid style")

In [21]:
date(14,4,2025,1)

NameError: name 'date' is not defined

In [23]:
"Underweight" if BMI < 18.5 else "Obese"

NameError: name 'BMI' is not defined

In [ ]:
Underweight" if BMI < 18.5 else "Normal" if 18.5 <= BMI <= 24.9 else "Overweight" if 24.9 < BMI <= 29.9 else "Obese"

In [7]:
###################################      LAMDA   FUNCTION   ################################

In [47]:
def square_num(num):
    return num**2,num**3

In [49]:
square_num(5,6)

TypeError: square_num() takes 1 positional argument but 2 were given

In [17]:
square_num1 = lambda num : num**2

In [25]:
square_num1(10)

100

In [27]:
### add two num

In [41]:
add_two = lambda  x,y:x+y

In [43]:
add_two(8,9)

17

In [33]:
#  check whether num is odd or even

In [35]:
even_odd = lambda x: "even" if x % 2 == 0 else "odd"

In [45]:
even_odd(5)

'odd'